CodeingTest/.idea/.idea.CodingTest/.idea/.name
CodeingTest/.idea/.idea.CodingTest/.idea/encodings.xml
CodeingTest/.idea/.idea.CodingTest/.idea/indexLayout.xml
CodeingTest/.idea/.idea.CodingTest/.idea/vcs.xml
CodeingTest/.vs/CodeingTest/CopilotIndices/17.14.1593.33849/CodeChunks.db
CodeingTest/.vs/CodeingTest/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
CodeingTest/.vs/CodeingTest/FileContentIndex/197c17b6-23e7-4b82-9cc2-36caf4a7c08b.vsidx
CodeingTest/.vs/CodeingTest/FileContentIndex/5ef40391-7361-4b51-b719-ecaa4dffe60c.vsidx
CodeingTest/.vs/CodeingTest/FileContentIndex/91eb96de-8ef6-4396-8f81-11000b61c6ac.vsidx
CodeingTest/.vs/CodeingTest/FileContentIndex/c6d8b1c1-8fbc-4201-ab50-d80caa7102d3.vsidx
CodeingTest/.vs/CodeingTest/v17/.suo
CodeingTest/.vs/CodeingTest/v17/Browse.VC.db
CodeingTest/.vs/CodeingTest/v17/DocumentLayout.backup.json
CodeingTest/.vs/CodeingTest/v17/DocumentLayout.json
CodeingTest/.vs/CodeingTest/v17/ipch/AutoPCH/23e119206cab9d48/WEAK01.ipch
CodeingTest/.vs/CodeingTest/v17/ipch/AutoPCH/b29ccd204c411734/WEAK01.ipch
CodeingTest/.vs/CodeingTest/v17/ipch/AutoPCH/dac41c12c5806cfb/MAIN.ipch
CodeingTest/.vs/CodeingTest/v17/Solution.VC.db
CodeingTest/CodingTest/x64/Debug/CodeingTest.exe.recipe
CodeingTest/CodingTest/x64/Debug/CodeingTest.ilk
CodeingTest/CodingTest/x64/Debug/CodeingTest.log
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/CL.command.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/Cl.items.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/CL.read.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/CL.write.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/CodeingTest.lastbuildstate
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/link.command.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/link.read.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/link.secondary.1.tlog
CodeingTest/CodingTest/x64/Debug/CodeingTest.tlog/link.write.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.exe.recipe
CodeingTest/CodingTest/x64/Debug/CodingTest.ilk
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/CL.command.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/Cl.items.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/CL.read.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/CL.write.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/CodingTest.lastbuildstate
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/link.command.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/link.read.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/link.secondary.1.tlog
CodeingTest/CodingTest/x64/Debug/CodingTest.tlog/link.write.1.tlog
CodeingTest/CodingTest/x64/Debug/Main.obj
CodeingTest/CodingTest/x64/Debug/vc143.idb
CodeingTest/CodingTest/x64/Debug/vc143.pdb
CodeingTest/x64/Debug/CodingTest.exe
CodeingTest/x64/Debug/CodingTest.pdb
